APP_NAME = Siska-Backend
NODE_ENV = development
APP_HOST = 0.0.0.0
APP_PORT = 6357
REDIS_NAME = redis://172.16.32.150:6379

DB_HOST = 172.16.32.150
DB_PORT = 5432
DB_USER = postgres
DB_PASS = itprogrammer
DB_NAME = siska

DB_HOST_EVO=172.16.32.3
DB_PORT_EVO=5432
DB_USER_EVO=postgres
DB_PASS_EVO=postgres@sy4mr4bu
DB_NAME_EVO=db_syamrabu

DB_HOST_MYSYAMRABU=172.16.32.150
DB_PORT_MYSYAMRABU=5432
DB_USER_MYSYAMRABU=postgres
DB_PASS_MYSYAMRABU=itprogrammer
DB_NAME_MYSYAMRABU=db_mysyamrabu

MONGO_HOST=172.16.32.150
MONGO_PORT=27017
MONGO_USER=it
MONGO_PASS=itsyamrabu
MONGO_NAME=log-services
SCHEMA_LOG_NAME=Log-siska-syamrabu

SWAGGER_URL=/siska-api-docs
SWAGGER_TITLE=API Documentation Syamrabu
SWAGGER_DESC=Ini adalah semua Endpoint untuk Siska Backend

JWT_ACCESS_SECRET = sy4mr4bu
JWT_REFRESH_SECRET = sy4mr4bu